body {
  font-family: "Poppins", sans-serif;
  background-image: url("../imagens/background.png");
  background-size: cover;
  background-position: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(8px);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.onepieces {
  display: flex;
  gap: 30px;
  padding: 30px 0;
}

.cartao-onepiece {
  display: none;
  max-width: 360px;
  border-radius: 10px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cartao-onepiece.aberto {
  display: block;
}

.cartao-onepiece img {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.cartao-onepiece .cartao-topo {
  padding: 30px 40px 0;
}

.cartao-onepiece .nome {
  margin-bottom: 5px;
}

.cartao-onepiece .tipo {
  background-color: #ffffff;
  font-size: 12px;
  opacity: 0.7;
  border-radius: 10px;
  padding: 2px 10px;
}

.cartao-onepiece .detalhes {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartao-onepiece .cartao-informacoes {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 80px 30px 50px;
  margin-top: -70px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cartao-onepiece .cartao-informacoes h3 {
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #6b727a;
}

.cartao-onepiece .cartao-informacoes .descricao {
  padding: 0 10px;
  font-size: 15px;
  max-height: 150px;
  overflow-y: scroll;
}

.tipo-pirata {
  background-color: #FF4500; 
}

.tipo-espadachim {
  background-color: #2E8B57; 
}

.tipo-navegadora {
  background-color: #3498db; 
}

.tipo-atirador {
  background-color: #FFD700; 
}

.tipo-cozinheiro {
  background-color: #9b59b6; 
}

.tipo-animal {
  background-color: #FF69B4;
}
.listagem {
  max-width: 200px;
}

.listagem .onepiece img {
  width: 25%;
}

.listagem .onepiece {
  background-color: #6b727a;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  margin-bottom: 10px;
  cursor: pointer;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  min-height: 70px;

  transition: 0.15 ease-in-out;
}

.listagem .onepiece:hover {
  transform: scale(1.05);
}

.listagem .onepiece span {
  padding-right: 20px;
}

.listagem .onepiece.ativo {
  background-color: #fa6668;
}
