@media (max-width: 750px) {
  .onepieces {
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }

  .cartao-cartao-onepiece {
    max-width: 300px;
  }

  .cartao-cartao-onepiece .cartao-informacoes {
    padding: 60px 30px 30px;
    margin-top: -50px;
  }

  .cartao-cartao-onepiece .cartao-informacoes h3 {
    font-size: 16px;
  }

  .listagem {
    max-width: 360px;
  }

  .listagem .cartao-onepiece {
    width: 45%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 0;
    border-radius: 8px;
  }

  .listagem ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }
}
